.main-nav {
  position: relative;
  width: 100%;
  height: 55px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-self: center;
    flex-grow: 1;
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: 100%;
  }
}

.site-list__item--space {
  @media (min-width: $tablet-width) {
    padding-left: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.site-list__item--space2 {
  @media (min-width: $tablet-width) {
    margin-left: 155px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 240px;
  }
}

.site-list__item--left {
  @media (min-width: $tablet-width) {
    padding-left: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 87px;
  }
}

.site-list__item--right {
  @media (min-width: $tablet-width) {
    padding-right: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 65px;
  }
}

.site-list a {
  display: block;
  padding-top: 14px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $base_black;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: ffffff;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);


  @media (min-width: $tablet-width) {
    font-size:14px;
    line-height:21px;
    color: #000000;
    background-color: #ffffff;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-left: 4px;
    padding-right: 10px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -2px;
  right: 13px;
  z-index: 20;
  display: block;
  width: 63px;
  height: 52px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 22px;
  right: 20px;
  width: 16px;
  height: 2px;
  background-color: $base_white;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: $base_black;
  box-shadow:
    0 5px 0 0 $base_black,
    0 10px 0 0 $base_black;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $base_black;
  box-shadow:
    0 10px 0 0 $base_black,
    0 20px 0 0 $base_black;
}

.main-nav--closed .site-list__item {
    display: none;
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav--closed .site-list__item--active a {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: $base_black;
  }

  @media (min-width: $desktop-width) {
    padding-right: 11px;
    padding-left: 5px;
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  min-height: 200px;
  background-color: $base_white;
}

.main-nav--opened .main-nav__wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 7px;
  mix-blend-mode: normal;
}

.site-list__item--active a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: center;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  left: auto;
  right: 0;
  background-color: $base_white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 32px;
    width: 16px;
    height: 2px;
    background-color: $base_white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $base_black;
  }

  &:active::before,
  &:active::after {
    background-color: $base_black;
  }
}

.main-header__user {
  display: block;
  position: absolute;
  top: 0;
  margin: 0;
  left: 150px;
  z-index: 1;
 @media (min-width: $tablet-width) {
  display: none;
}
}

.main-header__cart {
display: block;
  position: absolute;
  top: 0;
  margin: 0;
  left: 200px;
  z-index: 1;
 @media (min-width: $tablet-width) {
  display: none;
}
}


.main-nav__wrapper {
  position: static;
  min-height: 0;
}

 .site-list__item {
  display: block;
}

.site-list__item--active a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: center;
}
