/* здесь используйте глобальные переменные */
$width:320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$base_white:#ffffff;
$base_grey: #bdbdbd;
$base_black: #333333;
$base_primary: #7859CF;
$base_secondary: #F0EBFF;
$primary_opacity: rgba(120, 89, 207, 0.25);
$primary_lighter: #9070EC;
$primary_darker: #593CAC;
$light_grey: #E2E2E2;
$lightest_grey: #F8F8F8;
$flat_white: #F3EBE1;
$lavender_latte: #EAE6FC;
$espresso: #E5E6E8;
